.jokeCard {
  background-color: #f5f5f5;
  width: 480px;
  overflow: hidden;
  margin: 0 auto;
  margin: 20px 0px;
  padding: 20px;
}
.jokeCardFavoriteImg {
  text-align: end;
}
.jokeCardJoke {
  display: flex;

  align-items: center;
}
.textImage {
  padding: 0px 10px;
}
.jokeCardFooter {
  display: flex;
  justify-content: space-between;
}
