.form {
  display: flex;
  flex-direction: column;
  width: 400px;
}
.categoriesBtns {
  padding: 5px;
  width: 20%;
}

.getJokeBtn {
  width: 130px;
  height: 45px;
  border-radius: 10px;
  border: 0;
  color: white;
  font-size: 15px;
  font-weight: bold;
  background: linear-gradient(90.55deg, #8ea7ff 0%, #7291ff 100%);
}
