.bodyApp {
  width: 100%;
  display: flex;
  min-height: 100vh;
}
.mainJokes {
  width: 70%;
}
.favoriteJokes {
  width: 30%;
  background-color: #f5f5f5;
}
body {
  width: 1300px;
  margin: 0 auto;
}
