.bodyApp {
  width: 100%;
  display: flex;
  padding: 50px;
  min-height: 90vh;
}
.title {
  font-size: 32px;
}
.title_desr {
  font-size: 24px;
}
.mainJokes {
  width: 60%;
}
.favoriteJokes {
  width: 40%;
  background-color: #f5f5f5;
}
.appFavoritesTitle {
  color: rgba(171, 171, 171, 1);
  font-size: 20px;
  padding: 0px 40px;
}
body {
  width: 1400px;
  margin: 0px auto;
}
